<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="win.smile.house.HouseAugentMapper">


    <select id="get" resultType="int">
        SELECT id FROM house_agent_info LIMIT 1
    </select>







</mapper>
